<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/galeria.css">
    <title>Terceirão | Galeria</title>
</head>
<body>
    <div class="galeria">
        <div class="foto">
            <img src="/img/galeria/1.jpeg">
        </div>
        <div class="foto">
            <img src="/img/galeria/2.jpeg">
        </div>
        <div class="foto">
            <img src="/img/galeria/3.jpeg">
        </div>
        <div class="foto">
            <img src="/img/galeria/4.jpeg">
        </div>
    </div>
</body>
</html>