<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/index.css">
    <title>Terceirao 2020</title>
</head>

<body>
    <div class="container">
        <div class="column">
            <div class="text">
                <h1>Bem vindo ao site da nossa sala!</h1>
                <p>
                    Na Austrália há 48 milhões de Cangurus e no Uruguai há 3.457.380 de habitantes.
                    Então se os Cangurus decidirem invadir o Uruguai, cada uruguaio terá que lutar com 14 cangurus.
                </p>
            </div>
        </div>
        <div class="column">
            <img src="/img/camisetas.png" alt="camisetas" id="camiseta">
        </div>
    </div>
</body>

</html>