* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    /* background: center / cover no-repeat url("../img/Background.png"); */
    /* background-size: 100vh; */
    background: rgb(12,3,0);
    background: center / cover no-repeat linear-gradient(180deg, rgba(12,3,0,1) 0%, rgba(22,4,8,1) 10%, rgba(31,6,11,1) 22%, rgba(33,6,10,1) 33%, rgba(31,3,21,1) 44%, rgba(28,6,28,1) 53%, rgba(24,17,33,1) 69%, rgba(24,26,39,1) 84%, rgba(22,27,38,1) 95%);
    /* background-size: 200vh; */
}

a {
    text-decoration: none;
    color: white;
}

header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

header button {
    margin-right: 3.8rem;
    border: none;
    background: transparent;
    cursor: pointer;
    z-index: 11;
}

.menu-overlay {
    display: none;
    flex-direction: column;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 11;
    background: rgb(12,3,0);
    background: center / cover no-repeat linear-gradient(180deg, rgba(12,3,0,1) 0%, rgba(22,4,8,1) 10%, rgba(31,6,11,1) 22%, rgba(33,6,10,1) 33%, rgba(31,3,21,1) 44%, rgba(28,6,28,1) 53%, rgba(24,17,33,1) 69%, rgba(24,26,39,1) 84%, rgba(22,27,38,1) 95%);
    background-size: auto;
    /* background: center / cover no-repeat url("../img/Background.png"); */
}

.menu-overlay h2 {
    color: #BDEDFF;
}

.menu-overlay button.option {
    padding: 0.8rem 0;
    width: 15.75rem;
    border-width: 1px;
    border: double 2px transparent;
    margin: 2.5rem 0;
    background-image: linear-gradient(90deg,#29111a, #180606), radial-gradient(circle at top left, #FFA1D3 -31.05%,#8BE7FE 54.14%, #D6FFFF 141.13%);
    border-radius: 5rem;
    color: white;
    background-origin: border-box;
    background-clip: padding-box, border-box;
    cursor: pointer;
    transition: font-weight 0.2s;
}

.menu-overlay button.option:hover {
    font-weight: 700;
}

.container main > p,
.container main > strong {
  color: #fff;
  font-size: 1.2rem;
  margin: 2rem 0;
  text-align: center;
}

footer {
    margin: 1rem 0;
    color: rgba(255, 255, 255, 40%);
    text-align: center;
}

@media(max-width: 1080px) {
    html {
        font-size: 90%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 82%;
    }
}