* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    background: center / cover no-repeat url("../img/Background.png");
}


header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

header button {
    margin-right: 3.8rem;
    border: none;
    background: transparent;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin: auto;
}

main h2 {
    margin: 2.4rem 0;
    color: white;
}

main .text {
    margin: auto;
    padding: 1.875rem;
}

main .text h1 {
    margin-bottom: 0.4rem;
    text-align: left;
    color: #FF8DC4;
}

main .text p {
    text-align: justify;
    color: #E0E0E0;
    opacity: 100%;
}

@media(max-width: 1080px) {
    html {
        font-size: 90%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 82%;
    }
}

footer {
    color: rgba(255, 255, 255, 40%);
    text-align: center;
}