* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --background: #fff;
    --text: #5645;
}

[data-theme="dark"] {
    --background: #fff;
    --text: #5645;
}


body {
    font-family: 'Inter', sans-serif;
    background-image: url("../img/Background.svg");
    background-repeat: no-repeat;
    background-size: cover;
}


header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    align-items: center;
}

header button {
    margin-right: 2.4rem;
    border: none;
    background: transparent;
    cursor: pointer;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;

    margin: auto;
}

main h2 {
    margin: 2.4rem 0;
    color: white;
}

main .text {
    margin: auto;
    padding: 1rem;
}

main .text h1 {
    margin-bottom: 0.4rem;
    text-align: left;
    color: #FF1BCA;
}

main .text p {
    text-align: justify;
    color: white;
    opacity: 80%;
}

@media(max-width: 1080px) {
    html {
        font-size: 90%;
    }
}

@media(max-width: 720px) {
    html {
        font-size: 82%;
    }
}

.switch {
    position: relative;
    display: inline-block;

    width: 45px;
    height: 22px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    
    background-color: #48312A;
    
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 0px;
    bottom: -2px;
    background: no-repeat center/72% url(../img/sun.svg);
    -webkit-transition: .4s;
    transition: .4s;
}


input:checked + .slider {
    background-color: #48312A;
}


input:checked + .slider::before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(20px);

    background: no-repeat center/68% url('../img/Lua.svg');
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round::before {
    border-radius: 50%;
}

footer {
    color: rgba(255, 255, 255, 40%);
    text-align: center;
}