.container {
  overflow: hidden;
}

.container main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.container main .text {
  margin: auto;
  padding: 1.875rem;
}

.container main .text h1 {
  margin-bottom: 0.4rem;
  text-align: left;
  color: #FF8DC4;
}

.container main .text p {
  text-align: justify;
  color: #E0E0E0;
}

.container main #slides {
  height: 45vh;
  margin-bottom: 7rem;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container main #slides button {
  background: rgba(255, 255, 255, 0);
  border: none;
  font-size: 1.5em;
  z-index: 10;
}

.container main .slide img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border: double 3px transparent;
  border-radius: 50%;
  background-image: linear-gradient(90deg, #FFA1D3 -31.05%, #8BE7FE 54.14%, #D6FFFF 141.13%);
}

.slide:nth-child(2) {
  order: 1;
}

.slide:nth-child(3) {
  order: 2;
}

.slide:nth-child(4) {
  order: 3;
}

#prev {
  order: 0;
  margin-right: -7.3rem;
  cursor: pointer;
}

#next {
  order: 10;
  margin-left: -7.3rem;
  cursor: pointer;
}