nav {
    position: absolute;
    bottom: 0;
    right: 0;
    left: 0;

    background: #121212;
    opacity: 80%;

    border-radius: 40px 40px 0px 0px;
    
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    width: 1fr;
    height: 5rem;
}

nav a {
    display: flex;
    flex-direction: column;
    position: relative;
}

nav a::after {
    content: "";
    position: absolute;
    z-index: -1;
    bottom: -15px;
    right: 0px;
    left: -18px;
}

nav a:hover::after {
    width: 4rem;
    height: 3rem;
    background: rgba(116, 227, 255, 0.5);
    filter: blur(1.6rem);
    border-radius: 30.5px;
}
